

* {
    box-sizing: border-box;
  }
  
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
}

/*make the active user text inherit style from container*/

.inbox__people{
    color: white;
    padding: 16px;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}



/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

nav {
  margin: 0;
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: block;
  padding-top: 25px;
  padding-inline: 5px;
}


/* if changing the navbar height, change margin to match */
main {
  margin-top: 50px;
}

.navbar-links {
  color: white;
  text-decoration: none;
}

.navbar-links:hover {
  color: rgb(196, 196, 196);
}

.custom-pipes {
  color: white;
  cursor: default;
}

.inline {
  display: inline;
}

.profile {
  height: 150px;
  background-color:  rgb(109, 1, 187);
}

.profile-picture {
  margin: auto;
  display: block;
  padding: 25px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 300px;
  width: 300px;
}

.center-text {
  text-align: center;
}

.profile-name {
  font-weight: bold;
  font-size: 40px;
  margin: 5px;
}

.biography {
  font-size: 18px;
  margin-inline: 10%;
}

.profile-picture-info {
  display: block;
  padding: 25px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 300px;
  width: 300px;
}

.info-p {
  font-size: 18px;
  margin-inline: 10%;
  margin-left: 300px;
}

ul {
  list-style-position: inside;
}